body {
    background-image: url("background.png");
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 700px;
    height: 410px;
    border: 5px solid black;
    margin: auto;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
#character{
    position:relative;
    top: 340px;
    left:50px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 290px;}
    30%{top: 200px}
    70%{top: 200px;}
    100%{top: 290px;}
}

#block{
    position: relative;
    top: 270px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}